Keras==2.3.1
requests==2.22.0
bokeh==2.0.1
scipy==1.4.1
tensorflow==2.2.0
matplotlib==3.1.2
pandas==1.0.0
wget==3.2
joblib==0.14.1
numpy==1.18.1
xgboost==1.1.0
tqdm==4.43.0
selenium==3.141.0
TPOT==0.11.5
statsmodels==0.11.1
beautifulsoup4==4.9.1
scikit_learn==0.23.1
