seaborn==0.10.1
Shapely==1.7.0
statsmodels==0.11.1
imageio==2.9.0
pyproj==2.4.2.post1
numba==0.48.0
wget==3.2
selenium==3.141.0
scipy==1.4.1
matplotlib==3.3.2
numpy==1.19.3
tqdm==4.43.0
geopandas==0.6.2
scikit_optimize==0.8.1
bokeh==2.1.1
pandas==1.1.2
requests==2.22.0
TPOT==0.11.5
Fiona==1.8.13
joblib==0.14.1
Keras==2.3.1
swifter==1.0.3
beautifulsoup4==4.9.3
scikit_learn==0.23.2
